:root {
  --bronze: #130d0a;
  --white: #fff;
  --hero-height: 1000px;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bronze);
  font-family: "Playfair Display", serif;
  color: var(--white);
}

#hero {
  height: var(--hero-height);
  overflow: hidden;
  position: relative;
}

#content {
  background-color: var(--bronze);
}

/* .layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: var(--hero-height);
  position: fixed;
  z-index: -1;
} */

.layer {
  background-position: bottom center;
  /* background-size: cover; */
  background-size: auto;
  background-repeat: no-repeat;
  position: fixed; 
  width: 100%;
  height: var(--hero-height); 
  z-index: -1; 
  transform: translate3d(0, 0, 0); 
  transition: transform 0.1s linear;
}

#hero-mobile {
  display: none;
  background: url("images/full-illustration.png") no-repeat center bottom / cover;
  height: 320px;
}

#hero, .layer {
  min-height: 800px;
  max-width: 1900px;
  margin: 0 auto;
  overflow: hidden;
}

.layer-bg {
  background-image: url("../images/ilu_bg.jpg");
}

.layer-1 {
  background-image: url("../images/ilu_03.png");
  background-position: left bottom;
}

.layer-2 {
  background-image: url("../images/ilu_02.png");
}

.layer-3 {
  background-image: url("../images/ilu_man.png");
  background-position: right bottom;
}

/* .layer-4 {
  background-image: url("images/ilu_01.png");
} */

/* .layer-overlay {
  background-image: url("images/ilu_overlay.png");
} */

/* Media Queries */
@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }
  #hero-mobile {
    display: block;
  }
}