[submodule "src/Depth-Anything"]
	path = src/Depth-Anything
	url = git@github.com:LiheYoung/Depth-Anything.git
	dirty = ignore
[submodule "src/Inpaint-Anything"]
	path = src/Inpaint-Anything
	url = git@github.com:geekyutao/Inpaint-Anything.git
	dirty = ignore
